@using System.Globalization;
@{
	@using ScholarStack.Models;
	CommunityPost communityPost = ViewData["CommunityPost"] as CommunityPost;
	string attachmentUrl = communityPost.Attachment != null ? communityPost.Attachment.URL : "default.png";

	@* Post Meta-Data *@
	string formattedDate = communityPost.TimeStamp.ToString("MMMM d, yyyy h:mm tt", CultureInfo.InvariantCulture);
	int upvotes = communityPost.Votes.Count(v => v.VoteType == true);
	int downvotes = communityPost.Votes.Count(v => v.VoteType == false);
	int commentCount = communityPost.Comments.Count;
}

<head>
	<link rel="stylesheet" href="css/community-post.css">
</head>

<div class="central-meta item">
	<div class="user-post" data-post-id="@communityPost.ID">
		<div class="friend-info">
			<figure>
				<img src="images/profile/admin.png" alt="">
			</figure>
			<div class="friend-name">
				<ins><a href="/Profile/@communityPost.User.Username" title="">@communityPost.User.FirstName @communityPost.User.LastName (@@@communityPost.User.Username)</a></ins>
				<span>published: @formattedDate</span>
				<span>score: @communityPost.Score</span>
			</div>
			<div class="post-meta">
				<img src="images/post attachments/@attachmentUrl" alt="">
				<div class="we-video-info">
					<ul>
						<li>
							<span class="views" data-toggle="tooltip" title="views">
								<i class="fa fa-eye"></i>
								<ins>1.2k</ins>
							</span>
						</li>
						<li>
							<span class="comment" data-toggle="tooltip" title="Comments">
								<i class="fa fa-comments-o"></i>
								<ins>@commentCount</ins>
							</span>
						</li>
						<li>
							<span class="like" data-toggle="tooltip" title="upvote" class="upvote-btn">
								<i class="fa fa-thumbs-up" aria-hidden="true"></i>
								<ins>@upvotes</ins>
							</span>
						</li>
						<li>
							<span class="dislike" data-toggle="tooltip" title="downvote" class="downvote-btn">
								<i class="fa fa-thumbs-down" aria-hidden="true"></i>
								<ins>@downvotes</ins>
							</span>
						</li>
						<li class="social-media">
							<div class="menu">
								<div class="btn trigger"><i class="fa fa-share-alt"></i></div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon">
										<a href="#" title=""><i class="fa fa-instagram"></i></a>
									</div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon">
										<a href="#" title=""><i class="fa fa-dribbble"></i></a>
									</div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon">
										<a href="#" title=""><i class="fa fa-pinterest"></i></a>
									</div>
								</div>

							</div>
						</li>
					</ul>
				</div>
				<div class="description">
					<p>
						@communityPost.Content
					</p>
				</div>
			</div>
		</div>
		<div class="coment-area">
			<ul class="we-comet comments-data">
				@for (int j = 0; j < commentCount; j++)
				{
					<li>
						@{
							ViewData["comment"] = communityPost.Comments.ElementAt(j);
							<partial name="Post Elements/_comment" view-data="ViewData" />
						}
					</li>
				}
				<li>
					<a href="#" title="" class="showmore underline">more comments</a>
				</li>
				<li class="post-comment">
					<div class="comet-avatar">
						<img src="images/profile/admin.png" alt="">
					</div>
					<div class="post-comt-box">
						<textarea id="commentTextarea" class="comment-text-input" placeholder="Post your comment"></textarea>
						<button id="commentButton" type="submit" class="btn btn-primary add-comment-btn">
							<i class="fa fa-comment"></i>
						</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>